<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <title>My Playlist App</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css"
  />
</head>

<body class="ui container">
  <nav class="ui secondary menu">
    <img src="assets/logo.png" alt="" />
    <a class="item" href="index.html"><i class="home icon"></i> Home</a>
    <a class="item" href="playlists.html"><i class="headphones icon"></i> My Playlists</a>
    <a class="active item" href="tracks.html"><i class="music icon"></i> Tracks</a>
    <a class="item" href="search.html"><i class="search icon"></i> Search</a>
    <div class="ui right dropdown item">
      John Doe
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item"><i class="user icon"></i> Profile</div>
        <div class="item"><i class="settings icon"></i> Settings</div>
        <div class="item"><i class="sign out icon"></i>Log out</div>
      </div>
    </div>
  </nav>
  <div class="ui container">
    <a href="#" class="ui right floated green button" id="newModal">
      <i class="plus icon"></i>
      New track
    </a>
    <h1>Tracks</h1>
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="user icon"></i> Bon Jovi</td>
          <td><i class="music icon"></i> It's my life</td>
          <td class="right aligned collapsing">
            <div class="ui icon top right pointing dropdown button">
              <i class="plus icon"></i>
              <div class="menu">
                <div class="header">Add to playlist</div>
                <div class="ui search icon input">
                  <i class="search icon"></i>
                  <input type="text" name="search" placeholder="Search playlists..." />
                </div>
                <div class="item">Heavy Metal</div>
                <div class="item">Classics</div>
                <div class="item">Movie Soundtracks</div>
              </div>
            </div>
            <button class="ui icon button"><i class="edit icon"></i></button>
            <button class="ui icon button red"><i class="trash icon"></i></button>
          </td>
        </tr>
        <tr>
          <td><i class="user icon"></i> Bon Jovi</td>
          <td><i class="music icon"></i> Livin' on a prayer</td>
          <td class="right aligned">
            <div class="ui icon top right pointing dropdown button">
              <i class="plus icon"></i>
              <div class="menu">
                <div class="header">Add to playlist</div>
                <div class="ui search icon input">
                  <i class="search icon"></i>
                  <input type="text" name="search" placeholder="Search playlists..." />
                </div>
                <div class="item">Heavy Metal</div>
                <div class="item">Classics</div>
                <div class="item">Movie Soundtracks</div>
              </div>
            </div>
            <button class="ui icon button"><i class="edit icon"></i></button>
            <button class="ui icon button red"><i class="trash icon"></i></button>
          </td>
        </tr>
        <tr>
          <td><i class="user icon"></i> AC/DC</td>
          <td><i class="music icon"></i> Thunderstruck</td>
          <td class="right aligned">
            <div class="ui icon top right pointing dropdown button">
              <i class="plus icon"></i>
              <div class="menu">
                <div class="header">Add to playlist</div>
                <div class="ui search icon input">
                  <i class="search icon"></i>
                  <input type="text" name="search" placeholder="Search playlists..." />
                </div>
                <div class="item">Heavy Metal</div>
                <div class="item">Classics</div>
                <div class="item">Movie Soundtracks</div>
              </div>
            </div>
            <button class="ui icon button"><i class="edit icon"></i></button>
            <button class="ui icon button red"><i class="trash icon"></i></button>
          </td>
        </tr>
        <tr>
          <td><i class="user icon"></i> AC/DC</td>
          <td><i class="music icon"></i> Back in black</td>
          <td class="right aligned">
            <div class="ui icon top right pointing dropdown button">
              <i class="plus icon"></i>
              <div class="menu">
                <div class="header">Add to playlist</div>
                <div class="ui search icon input">
                  <i class="search icon"></i>
                  <input type="text" name="search" placeholder="Search playlists..." />
                </div>
                <div class="item">Heavy Metal</div>
                <div class="item">Classics</div>
                <div class="item">Movie Soundtracks</div>
              </div>
            </div>
            <button class="ui icon button"><i class="edit icon"></i></button>
            <button class="ui icon button red"><i class="trash icon"></i></button>
          </td>
        </tr>
        <tr>
          <td><i class="user icon"></i> AC/DC</td>
          <td><i class="music icon"></i> Highway to hell</td>
          <td class="right aligned">
            <div class="ui icon top right pointing dropdown button">
              <i class="plus icon"></i>
              <div class="menu">
                <div class="header">Add to playlist</div>
                <div class="ui search icon input">
                  <i class="search icon"></i>
                  <input type="text" name="search" placeholder="Search playlists..." />
                </div>
                <div class="item">Heavy Metal</div>
                <div class="item">Classics</div>
                <div class="item">Movie Soundtracks</div>
              </div>
            </div>
            <button class="ui icon button"><i class="edit icon"></i></button>
            <button class="ui icon button red"><i class="trash icon"></i></button>
          </td>
        </tr>
        <tr>
          <td><i class="user icon"></i> John Denver</td>
          <td><i class="music icon"></i> Take me home, country roads</td>
          <td class="right aligned">
            <div class="ui icon top right pointing dropdown button">
              <i class="plus icon"></i>
              <div class="menu">
                <div class="header">Add to playlist</div>
                <div class="ui search icon input">
                  <i class="search icon"></i>
                  <input type="text" name="search" placeholder="Search playlists..." />
                </div>
                <div class="item">Heavy Metal</div>
                <div class="item">Classics</div>
                <div class="item">Movie Soundtracks</div>
              </div>
            </div>
            <button class="ui icon button"><i class="edit icon"></i></button>
            <button class="ui icon button red"><i class="trash icon"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="ui modal">
    <i class="close icon"></i>
    <div class="header">Add new Track</div>
    <div class="image content">
      <div class="description">
        <form class="ui form">
          <div class="two fields">
            <div class="field">
              <label>Author</label>
              <input required type="text" placeholder="John Williams" />
            </div>
            <div class="field">
              <label>Track name</label>
              <input required type="text" placeholder="Imperial March" />
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>Spotify URL</label>
              <input type="text" placeholder="https://" />
            </div>
            <div class="field">
              <label>Lyrics URL</label>
              <input type="text" placeholder="https://" />
            </div>
            <div class="field">
              <label>Guitar tab URL</label>
              <input type="text" placeholder="https://" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Cancel
      </div>
      <div class="ui positive right labeled icon button">
        Add
        <i class="plus icon"></i>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>

  <script>
    $(".ui.dropdown").dropdown();
    $("#newModal").click(function() {
      $(".ui.modal").modal("show");
    });
  </script>
</body>
